body{
	background-color: #000000;
}

#welcome-section {
	background-image: url('https://cnet1.cbsistatic.com/img/ovl7IOXFSQrIwSOnJuloCxeQP0E=/1092x0/2018/11/05/437ee897-1775-4570-80c3-054ca4ddf8f7/39-apple-macbook-air-2018.jpg');
  background-size: cover;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  
}



#welcome-section::after {
	content: '';
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.8;
}
 
#welcome-section h1{
	color: white;
	font-size: 3em;
}

#welcome-section p{
	color: #ff00cc;
	font-size: 2em;
	font-style: italic;
	font-weight: 200;
}

section {
	text-align: center;
}



#follow-me {
	background-color: #ffb8bc;
}

#follow-me h2 {
	padding: 10px;
	text-align: center;
}


footer {
	background-color: #de454a;
	color: white;
	text-align: center;
	padding: 10px;
	font-size: 20px;
}

ul {
	list-style-type: none;
	display: flex;
	justify-content: center;
	margin-left: 150px;
	padding: 20px;
}

ul li {
	padding: 10px;
	font-size: 50px;
}



footer .fa-heart {
	color: red;
}

#twitter {
	color: #6CADDE;
}


#profile-link {
	color: black;
}

#facebook {
	color: blue;
}
li a:visited {
	color: none;
}

#navbar{
	display: flex;
	justify-content: space-around;
	background-color: #7300ff;
	height: 50px;
	align-items: center;
	position: fixed;
	width: 98%;
	top: 0;
	z-index: 100;
}

#navbar a{
	color: yellow;
	font-size: 1.4em;
	text-decoration: none;
}

#navbar a {
	position: relative;
	
}

nav a::after {
  content: '';
  border-bottom: 3px solid #fff;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(10px);
  transition: transform 0.3s ease;
  opacity: 0;
  height: 100%;
  width: 100%;
}

nav a:hover::after {
  opacity: 1;
  transform: translateY(0);
}

#welcome-section h1 {
	z-index: 100;
}


#welcome-section p {
	z-index: 100;
}

a {
	text-decoration: none;
}

#project-container {
	background-color: #e6f5bf;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 10px;
}

.project-tile {
	padding: 50px;
}

.project-tile img {
	width: 170px;
	height: 170px;
	padding: 10px;
	transition: tranform 0.3s ease;
}

.project-tile a {
	color: #000;
}

.project-tile img:hover {
	transform: scale(1.1);
}

#projects h2{
	background-color: #7300ff;
	text-align: center;
	color: yellow;
}

@media (max-width: 500px) {
	#project-container {
		display: flex;
		flex-direction: column;
	}
}